BACKEND_URL_1=
BACKEND_URL_2=
FIREBASE_API_KEY_ANDROID=
FIREBASE_API_KEY_IOS=
FIREBASE_API_KEY_WEB=
FIREBASE_APP_ID_ANDROID=
FIREBASE_APP_ID_IOS=
FIREBASE_APP_ID_WEB=
MESSAGE_SENDER_ID=
PROJECT_ID=
AUTH_DOMAIN=
DATABASE_URL=
STORAGE_BUCKET=
IOS_BUNDLE_ID=